<div class="col-md-8">

<h1>Repairly's Mission</h1>

<p>Repairly is a free guide that brings transparency to the prices of service and repair costs for your vehicle. We gather user-contributed prices from all over the country, and show you if prices for your vehicle repair or service are fair.</p>

<p>Repairly is not affiliated with any mechanic or dealer.</p>

</div>

<div class="col-md-4">
	<h4>Contact Us</h4>
	<p><strong>Email: </strong><a href="#">contact@myrepairly.com</a></p>
</div>