<section class="center" id='home-hero'>
	 
	 <h1>Don't Overpay for Car Repairs Again</h1>
	  <p class="lead">Quotes for car maintenance & repairs from dealers and mechanics are really hard to understand. <br>Know exactly how much others are paying for similar car repairs in your area. </p>
		
		
		<%= link_to "Add Your Repair Info", "#", :class => 'btn btn-primary btn-lg', :id => "showAddRepair" %>
		<%= link_to "Browse Repairs Around You", repairs_path, :class => 'btn btn-info btn-lg' %>
		

</section>


<section class="center add-repair">
	<div class="row">
	
		<div id="addRepair"  style="display:none;"> 
			<h2>Enter your vehicle info</h2>
			<form class="form-inline" role="form">
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputEmail2">Vehicle Year</label>
			    <input type="text" class="form-control" placeholder="Vehicle Year">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword2">Make</label>
			    <input type="text" class="form-control" placeholder="Make">
			  </div>

			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword2">Model</label>
			    <input type="text" class="form-control" placeholder="Model">
			  </div>
			  
			  <button id="showContinue" type="submit" class="btn btn-primary">Continue</button>
			</form>
		</div>

	</div>
</section>

<section class="center add-repair">
	<div class="row">
	
		<div id="addServices" style="display:none;"> 
			<h2>Enter the repair info</h2>
			<div id="p_scents">
			<form class="form-inline" role="form">
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputEmail2">Service</label>
			    <input type="text" class="form-control" placeholder="Service">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword2">Service</label>
			    <input type="text" class="form-control" placeholder="Service Cost">
			  </div>

			  <div class="btn-group">
			    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			      Done by <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			      <li><a href="#">Mechanic</a></li>
			      <li><a href="#">Dealer</a></li>
			      <li><a href="#">DIY</a></li>
			    </ul>
			  </div>

			  <button id="addScnt" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add More</button>

			  
			      <p>
			          <label for="p_scnts">

			          </label>
			      </p>
			  </div>	

			  
				<button type="submit" class="btn btn-primary">Continue</button>			  

			</form>
		</div>

	</div>
</section>


<script type="text/javascript"> 
   $(function() {
       $('#showAddRepair').click(function() {
           $('#home-hero').hide();
           $('#addRepair').show();
           return false;
       });        
   });

   $(function() {
       $('#showContinue').click(function() {
           $('#addRepair').hide();
           $('#addServices').show();
           return false;
       });        
   });

  $(function() {
          var scntDiv = $('#p_scents');
          var i = $('#p_scents p').size() + 1;
          
          $('#addScnt').on('click', function() {
                  $('<p><label for="p_scnts"><input type="text" id="p_scnt" size="20" name="p_scnt_' + i +'" value="" placeholder="Input Value" /><input type="text" id="p_scnt" size="20" name="p_scnt_' + i +'" value="" placeholder="Input Value" /><input type="text" id="p_scnt" size="20" name="p_scnt_' + i +'" value="" placeholder="Input Value" /></label> <a href="#" class="remScnt">Remove</a></p>').appendTo(scntDiv);
                  i++;
                  return false;
          });
          
          $('#p_scents').on('click', '.remScnt', function() { 
                  if( i > 2 ) {
                          $(this).parents('p').remove();
                          i--;
                  }
                  return false;
          });
  });


</script>