<div class="row">
	<div class="col-md-8">

	  <div class="panel panel-default">

	    <div class="panel-heading">
	      <div class="row">
	        <div class="col-md-8 col-xs-8">
	          <h3 class="panel-title">Standard Coinsurance</h3>by LA Care
	        </div>
	        <div class="col-md-4 col-xs-4">
	          <span class="pull-right metal Bronze"><strong>Bronze</strong><br> </span>
	        </div>
	      </div>
	    </div>

	    <div class="panel-body">

	      <div class="row">
	        <!-- Premium and subsidy -->
	        <div class="col-md-4">
	          <p class="large-detail">Monthly Premium</p>

	          <h4 class="premium">$187.87</h4>
	          
	          <br>
	        </div>

	        <!-- Deductibles -->
	        <div class="col-md-4">
	          <p class="large-detail">Deductible</p>
	          <div class="unit-value">$5,000 <span class="per-unit">/ person</span></div>
	          <div class="unit-value">$10,000 <span class="per-unit">/ family</span></div>
	          <br>
	        </div>

	        <!-- OOP max -->
	        <div class="col-md-4">
	          <a href="#" title="What do these mean?" class="oop-help pull-right glyphicon glyphicon-question-sign"></a>
	          <p class="large-detail">Out of Pocket Max</p>
	          <div class="unit-value">$6,350 <span class="per-unit">/ person</span></div>
	          <div class="unit-value">$12,700 <span class="per-unit">/ family</span></div>
	          <br>
	        </div>
	      </div>
	    </div>

	      
	    


	  </div>
	</div>


	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Description:</strong>
	  <%= @repair.description %>
	</p>

	<%= link_to 'Edit', edit_repair_path(@repair) %> |
	<%= link_to 'Back', repairs_path %>

	</div>

</div>